:root {
  --color-danger: #ca3131;
  --color-primary: #316dca;
  --dark-bg: #2d333b;
  --dark-secondary: #434c56;
  --dark-text: #fff;
  --light-bg: #f8fafc;
  --light-text: #434c56;
}

.App {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  font-family: Poppins;
  height: 100vh;
  width: 100%;
}
.App-h1 {
  padding-bottom: 2rem;
  text-align: center;
}
.App-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 62.5rem;
  /* display: grid; */
  /* grid-template-columns: 1fr,1fr; */
}

.Form {
  display: grid;
  gap: 0.9375rem;
  width: 45%;
}
.Form-error {
  background-color: hsla(0, 61%, 49%, 50%);
  border-radius: 10px;
  border: 1px solid var(--color-danger);
  color: #fff;
  padding-block: 0.5rem;
  text-align: center;
}
.Form-h2,
.Patients-h2 {
  text-align: center;
}
.Form-div {
  display: grid;
  grid-template-rows: 1fr, 1fr;
}
.Form-div--date {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Form-div--day,
.Form-div--time {
  width: 48%;
}
.Form-div--day .Form-input,
.Form-div--time .Form-input {
  width: 100%;
}
.Form-label {
  display: block;
}
.Form-input,
.Form-textarea {
  border-radius: 0.625rem;
  margin-block: 0.5rem;
}
.Form-input {
  border-radius: 0.625rem;
  outline: none;
  padding-block: 0.5rem;
  padding-block: 0.5rem;
  padding-left: 0.5rem;
}
.Form-textarea {
  outline: none;
  padding: 0.3125rem 0.625rem;
  resize: none;
  width: 100%;
}

.Form-button {
  background-color: var(--color-primary);
}

.Patients {
  width: 45%;
}
.Patients-h2 {
  padding-bottom: 2rem;
}
.Patients-card {
  background-color: var(--dark-secondary);
  border-radius: 0.9375rem;
  display: grid;
  font-weight: 200;
  gap: 0.625rem;
  padding: 0.9375rem;
  margin-bottom: 2rem;
}
.Patients-span {
  font-weight: 600;
}
.Patients-buttons {
  display: flex;
  justify-content: space-between;
}
.Patients-buttons--edit,
.Patients-buttons--delete,
.Form-button {
  border-radius: 0.625rem;
  border: none;
  color: var(--dark-text);
  font-weight: 400;
  padding: 0.3125rem 0.625rem;
}
.Patients-buttons--edit {
  background-color: var(--color-primary);
  width: 48%;
}
.Patients-buttons--delete {
  background-color: var(--color-danger);
  width: 48%;
}
